@import 'mixcins';
@import 'colors';
@import 'element';

.bills{
    height: max-content;
    width: 100%;
    padding: $spacing400 $spacing500;
    display: flex;
    flex-direction: column;
    gap: $spacing400;

    .bills-title{
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;

        h2{
            font-weight: 700;
            font-size: $spacing400;
            color: $black;
        }

    }

    .bills-body{
        min-height: 450px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .bills-bodyLeft{
            width: 32%;
            min-height: 205px;
            display: flex;
            flex-direction: column;
            gap: $spacing300;

            .bills-bodyLeftUp{
                width: 100%;
                height: 190px;
                border-radius: 12px;
                padding: $spacing300;
                display: flex;
                flex-direction: column;
                gap: $spacing400;
                background-color: $black;

                main{
                    width: 100%;
                    height: 70px;
                    display: flex;
                    flex-direction: column;
                    gap: 11px;

                    h3{
                        font-weight: 700;
                        font-size: $spacing400;
                        color: white;
                    }

                    p{
                        font-weight: 400;
                        font-size: $spacing175;
                        color: white;
                    }
                }
            }

            .bills-bodyLeftDown{
                width: 100%;
                height: 204px;
                border-radius: 12px;
                padding: $spacing250;
                display: flex;
                flex-direction: column;
                gap: $spacing250;
                background-color: white;

                h4{
                    font-weight: 700;
                    font-size: $spacing200;
                    color: $black;
                }

                main{
                    min-height: 120px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    nav{
                        height: 50px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        border-top: 1px solid #69686826;

                        article{
                            width: 100%;
                            height: 18px;
                            display: flex;
                            justify-content: space-between;

                            p{
                                font-weight: 400;
                                color: $light_grey;
                                font-size: $spacing150;
                            }

                            h6{
                                font-weight: 700;
                                font-size: $spacing150;
                                color: $black;
                            }
                        }
                    }
                }
            }

            @include respond (mini-laptop){
            flex-direction: row;
            width: 100%;
            .bills-bodyLeftUp,.bills-bodyLeftDown{
                width: 48%;
                height: 204px;
            }
        }

        @include respond (phone){
            flex-direction: column;

            .bills-bodyLeftUp{
                width: 100%;
                height: 118px;
                flex-direction: row;
                align-items: center;
            }

            .bills-bodyLeftDown{
                width: 100%;
                height: 204px;
            }
        }
        }

        .bills-bodyRight{
            height: max-content;
            width: 66%;
            border-radius: 12px;
            padding: $spacing400;
            display: flex;
            flex-direction: column;
            background-color: white;

            .bills-bodyRight-input{
                width: 100%;
                height: 45px;
                display: flex;
                justify-content: space-between;
                margin-bottom: $spacing300;

                main{
                    width: 320px;
                    height: 45px;
                    position: relative;

                    input{
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        border: 1px solid $dark-grey;
                        padding: $spacing150 $spacing250;
                        padding-right: $spacing400;
                        outline: none;
                        background-color: white;
                    }

                    aside{
                        position: absolute;
                        right: 15px;
                        top: 30%;
                        cursor: pointer;
                    }
                }

                nav{
                    height: 45px;
                    width: 169px;
                    display: flex;
                    align-items: center;
                    gap: $spacing100;
                    position: relative;

                    p{
                        font-weight: 400;
                        font-size: $spacing175;
                        color: $light_grey;
                    }

                    section{
                        border-radius: 8px;
                        width: 113px;
                        border: 1px solid $dark-grey;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: $spacing200;
                        height: 45px;
                        cursor: pointer;

                        h6{
                            font-weight: 400;
                            font-size: $spacing175;
                            color: $black;
                        }
                    }

                    article{
                     display: none;
                    }

                    aside{
                    position: absolute;
                    transform: translateY(100%);
                    bottom: -10px;
                    right: 0px;
                    height: 275px;
                    width: 114px;
                    border-radius: 8px;
                    padding: $spacing150 $spacing250;
                    background-color: white;
                    box-shadow: 0px 4px 24px #00000040;

                    ul{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        list-style: none;

                        h3{
                            height: 45px;
                            min-height: 45px;
                            width: 100%;
                            font-weight: 700;
                            font-size: $spacing175;
                            color: $black;
                            display: flex;
                            align-items: center;
                        }
                        
                        li{
                            height: 45px;
                            min-height: 45px;
                            width: 100%;
                            border-top: 1px solid $dark_white;
                            font-weight: 400;
                            font-size: $spacing175;
                            color: $black;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                        }
                    }
                }
                }

                @include respond (phone){
                main{
                  width: 70%;
                }
                    nav{
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        display: none;
                    }

                    section{
                        display: none;
                    }

                    article{
                        display: flex;
                        cursor: pointer;
                    }
                    }
                }
            }

            .bills-bodyRight-top{
                width: 100%;
                height: 42px;
                padding-inline: $spacing200;
                display: flex;
                justify-content: space-between;

                h3{
                    width: 50.2%;
                    font-weight: 400;
                    font-size: $spacing150;
                    color: $light_grey;
                }

                h4{
                    @extend h3;
                    width: 120px;
                }

                h5{
                    @extend h3;
                    width: 15.7%;
                    display: flex;
                    justify-content: flex-end;
                }

                @include respond (phone){
                  display: none;
                }
            }

            .bills-bodyRight-content{
                min-height: 150px;
                width: 100%;
                display: flex;
                flex-direction: column;

                main{
                    width: 100%;
                    height: 72px;
                    padding-inline: $spacing200;
                    display: flex;
                    align-items: center;
                    border-top: 1px solid $dark_white;

                    header{
                        display: none;
                    }

                    article{
                        min-height: 32px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        nav{
                            width: 50.2%;
                            height: 100%;
                            display: flex;
                            gap: $spacing200;
                            align-items: center;

                            div{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;

                                h6{
                                    font-weight: 700;
                                    font-size: $spacing175;
                                    color: $black;
                                }
                            }
                        }

                        section{
                            width: 120px;
                            display: flex;
                            gap: $spacing100;
                            align-items: center;

                            p{
                                font-weight: 400;
                                font-size: 12px;
                                color: $teen_green;
                            }
                        }

                        h5{
                            width: 15.7%;
                            font-weight: 700;
                            font-size: $spacing175;
                            color: $black;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }

                    @include respond (phone){
                        flex-direction: column;
                        justify-content: center;
                        gap: $spacing100;
                        article{

                            nav{
                                width: 100%;
                            }
                            h5{
                                display: none;
                            }

                            section{
                                display: none;
                            }
                        }

                        header{
                            width: 100%;
                            height: 21px;
                            display: flex;
                            justify-content: space-between;

                            section{
                            width: 120px;
                            display: flex;
                            gap: $spacing100;
                            align-items: center;

                            p{
                                font-weight: 400;
                                font-size: 12px;
                                color: $teen_green;
                            }
                        }

                        h5{
                            width: 20%;
                            font-weight: 700;
                            font-size: $spacing175;
                            color: $black;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                        }
                    }
                }
            }

            @include respond (mini-laptop){
            width: 100%;
        }
        }

        @include respond (mini-laptop){
            flex-direction: column;
            gap: $spacing300;
            justify-content: flex-start;
        }
    }

    @include respond (phone){
            padding: $spacing300 $spacing200;
        }
}