@import './styles/mixcins.scss';
@import './styles/colors';
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dashboardLayout{
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $primary_color;
  padding-bottom: 0px;
  
  @include respond (tablet){
    padding-bottom: 74px;

    .dashboardLayout-downSide{
      display: flex;
    }
    
  }
}

.dashboardLayout-leftSide{
  height: 100dvh;
  width: 20.7%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;

  @include respond (tablet){
    display: none;
  }
}

.dashboardLayout-rightSide{
  min-height: max-content;
  width: 79.3%;
  @include respond (tablet){
    width: 100%;
  }
}

.dashboardLayout-downSide{
  height: 74px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: none;

  @include respond (phone){
    height: 52px;
  }
}